/*Estilos generales*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-description {
    font-size: 1.2rem;   
    color: #584e4e;
}

h2 {
    font-size: 1.5rem;
}

.dark-section {
    color: white;
    background-color: #1b1b32;
}

.light-section {
    color: black;
    background-color: white;
}

.section-title {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.section-p {
    font-size: 1.2rem;
}

.dark-text {
    color: black;
}

.light-text {
    color: white;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;
}

/*Barra de navegacion*/
.navbar--imagen {
    width: 2em;
}

.navbar {
    padding: 1rem 1.5rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: flex-end;
}

/* Hero section */
.hero-principal h1 {
    font-size: 2.5rem;
    color: #615151;
    font-family: 'Rubik Dirt', cursive;
}

.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero--img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

/*About me*/
.about-me {
    height: 500px;
    padding: 10px;
}

.about-me .contenedor {
    max-width: 600px;
    text-align: center;
}

/* exp */
.exp {
    padding: 40px 40px 60px 40px;
    height: 100%;
}

.exp-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.exp i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #1b1b32;
    padding: 8px 19px;
    border-radius: 50%;
}

.exp .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease-in;
}

.exp .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/* proyectos */
.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2 ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    padding-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.proyecto:hover img {
    opacity: 0.2;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

/* articulos */
.articulos {
    min-height: 500px;
    padding: 30px;
}

.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header {
    font-weight: bold;
}

/*Responsivo*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        visibility: hidden;
    }
}

@media screen and (min-width: 700px) {
    .hero-inferior-img {
        max-width: 600px;
    }
}

 @media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
 }